In [1]:
import pandas as pd

In [10]:
food=pd.read_csv('food_order.csv')

In [11]:
food.head()

,Order ID,Customer Name,Food Item,Category,Quantity,Price,Payment Method,Order Time
0,2268,Mary Vega DDS,Pasta,Main,5,16.52,Cash,2025-02-02 14:28:41
1,3082,Brandon Myers,Brownie,Dessert,4,17.27,Debit Card,2025-06-08 10:57:47
2,3160,Margaret Wells,Pasta,Main,1,3.37,Credit Card,2025-03-04 07:41:41
3,1272,Michael Matthews,Pasta,Main,5,2.20,Online Payment,2025-05-15 12:43:45
4,9447,Connor Williams,Soup,Starter,1,12.23,Cash,2025-03-15 14:25:56

In [12]:
data.shape

(1615, 12)

In [20]:
# pivot table(picks one data folds in mutiple tables and give us view)
food.pivot_table(index=['Order ID','Customer Name'],columns=['Food Item','Payment Method'],values='Price',aggfunc='mean')

Food Item                 Brownie                                        \
Payment Method               Cash Credit Card Debit Card Online Payment
Order ID Customer Name
1055     David Gutierrez      NaN         NaN        NaN            NaN
1057     Hannah Brown         NaN         NaN        NaN            NaN
1066     Melissa Duncan       NaN         NaN        NaN            NaN
1084     Eric Nguyen          NaN         NaN        NaN            NaN
1088     Carol Lynch          NaN         NaN        NaN            NaN
...                           ...         ...        ...            ...
9927     Gary Phillips        NaN         NaN        NaN            NaN
9936     Debbie Castillo      NaN         NaN        NaN            NaN
9963     Jonathan Turner      NaN         NaN        NaN            NaN
9969     Monica Hill          NaN         NaN        NaN            NaN
9997     Elizabeth Hunter     NaN         NaN        NaN            NaN

Food Item                 Burger                                       Cake  \
Payment Method              Cash Credit Card Debit Card Online Payment Cash
Order ID Customer Name
1055     David Gutierrez     NaN         NaN        NaN            NaN  NaN
1057     Hannah Brown        NaN         NaN        NaN            NaN  NaN
1066     Melissa Duncan      NaN         NaN        NaN            NaN  NaN
1084     Eric Nguyen         NaN         NaN        NaN            NaN  NaN
1088     Carol Lynch         NaN         NaN        NaN            NaN  NaN
...                          ...         ...        ...            ...  ...
9927     Gary Phillips       NaN         NaN        NaN            NaN  NaN
9936     Debbie Castillo     NaN         NaN        NaN            NaN  NaN
9963     Jonathan Turner     NaN         NaN        NaN            NaN  NaN
9969     Monica Hill         NaN         NaN        NaN            NaN  NaN
9997     Elizabeth Hunter    NaN         NaN        NaN            NaN  NaN

Food Item                              ...      Pizza                Salad  \
Payment Method            Credit Card  ... Debit Card Online Payment  Cash
Order ID Customer Name                 ...
1055     David Gutierrez          NaN  ...        NaN            NaN   NaN
1057     Hannah Brown             NaN  ...        NaN            NaN   NaN
1066     Melissa Duncan           NaN  ...        NaN            NaN   NaN
1084     Eric Nguyen              NaN  ...        NaN          22.41   NaN
1088     Carol Lynch              NaN  ...        NaN            NaN   NaN
...                               ...  ...        ...            ...   ...
9927     Gary Phillips            NaN  ...        NaN            NaN   NaN
9936     Debbie Castillo          NaN  ...        NaN            NaN   NaN
9963     Jonathan Turner          NaN  ...        NaN            NaN   NaN
9969     Monica Hill              NaN  ...        NaN            NaN   NaN
9997     Elizabeth Hunter         NaN  ...        NaN            NaN   NaN

Food Item                                                       Soup  \
Payment Method            Credit Card Debit Card Online Payment Cash
Order ID Customer Name
1055     David Gutierrez          NaN        NaN            NaN  NaN
1057     Hannah Brown             NaN        NaN            NaN  NaN
1066     Melissa Duncan           NaN        NaN            NaN  NaN
1084     Eric Nguyen              NaN        NaN            NaN  NaN
1088     Carol Lynch              NaN        NaN            NaN  NaN
...                               ...        ...            ...  ...
9927     Gary Phillips            NaN        NaN            NaN  NaN
9936     Debbie Castillo        15.76        NaN            NaN  NaN
9963     Jonathan Turner          NaN        NaN            NaN  NaN
9969     Monica Hill              NaN        NaN            NaN  NaN
9997     Elizabeth Hunter         NaN        NaN            NaN  NaN

Food Item
Payment Method            Credit Card Debit Card Online Payment
Order ID Customer Name
1055     David Gutierrez          NaN        NaN            NaN
1057     Hannah Brown            5.12        NaN            NaN
1066     Melissa Duncan           NaN        NaN            NaN
1084     Eric Nguyen              NaN        NaN            NaN
1088     Carol Lynch              NaN        NaN            NaN
...                               ...        ...            ...
9927     Gary Phillips            NaN        NaN            NaN
9936     Debbie Castillo          NaN        NaN            NaN
9963     Jonathan Turner          NaN        NaN            NaN
9969     Monica Hill              NaN        NaN            NaN
9997     Elizabeth Hunter         NaN       4.58            NaN

[500 rows x 36 columns]